 div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,detail,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
     margin: 0;
     padding: 0;
 }

 body {
     background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }

 * {
     box-sizing: border-box;
 }

 .calculator {
     width: 100%;
     max-width: 280px;
     margin: 140px auto;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0px 0px 50px #ff0000;
 }

 .screen {
     background-color: rgb(100, 234, 255);
     width: 100%;
     min-height: 100px;
     text-align: right;
     font-size: 24px;
     padding: 10px;
     padding-top: 20px;
 }

 .cal-buttons {
     background: #ffffff;
     padding: 15px;
 }

 ul#buttons {
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

 }

 ul#buttons li {
     font-size: 24px;
     color: #000000;
     background: #ecedef;
     width: 20%;
     margin: 5px 2.5%;
     padding-top: 11px;
     height: 50px;
     border-radius: 50%;
     font-weight: bold;
     cursor: pointer;
     text-align: center;
     transition: all 0.3s;
 }

 ul#buttons li:hover,
 ul#buttons li:visited {
     background: #ee00ff;
     color: #ffffff;
 }

 ul#buttons li:active {
     background: #0004ff;
 }

 li#equals {
     width: 100% !important;
     border-radius: 10px !important;
 }
